# Tizen Studio 3.7 or newer is supported.
TIZEN_VERSION="10.0"

REQUIRED_PACKAGES='["some-package", "some-other-package"]'
CACHE_DIR="~/.tizen-tool"

TV_IP="192.168.1.100"

PROFILES_DIR="~/.tizen-profiles"
PROFILE="some-profile"
