<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:tizen="http://tizen.org/ns/widgets"
  id="http://github.com/hu553in/multitwitch-tizen"
  version="0.0.1"
  viewmodes="maximized">

  <tizen:application id="mtwtvmtwtv.mtwtv"
    package="mtwtvmtwtv"
    required_version="2.4" />
  <tizen:profile name="tv" />

  <name>MultiTwitch TV Wrapper</name>
  <icon src="icon.png" />
  <content src="index.html" />

  <description>
    MultiTwitch TV Wrapper for Tizen OS.
  </description>

  <tizen:privilege name="http://tizen.org/privilege/internet" />
  <tizen:content-security-policy>
    default-src 'self';
    script-src 'self';
    style-src 'self';
    img-src 'self' data:;
    object-src 'none';
    base-uri 'self';
    form-action 'self';
  </tizen:content-security-policy>
  <tizen:allow-navigation href="https://www.multitwitch.tv/*" />
  <tizen:allow-navigation href="https://multitwitch.tv/*" />

  <tizen:setting screen-orientation="landscape"
    context-menu="disable"
    background-support="disable"
    encryption="disable" />
</widget>
